- if not notice.nil?
  %p#notice= notice

%p
  %b Category name:
  %span.badge
    = category.name

= render :template => "products/index"

- if not current_user.nil?
  %p
    %h2 New product
    = render 'products/form'

.other-actions
  - if not current_user.nil?
    = link_to 'Edit', edit_category_path(category), class: 'button-edit'
  = link_to 'Back', categories_path, class: 'button-back'
