%h2 Products listing

- if products.count > 0
  %table.table.listing.products
    %tr
      %th Title
      %th Description
      %th Price
      %th Actions

    - products.each do |product|
      %tr
        %td.title= product.title
        %td.description= product.description
        %td.price= product.price
        %td.actions
          = link_to 'Show', category_product_path(product.category, product), class: "button-show"
          = link_to 'Edit', edit_category_product_path(product.category, product), class: "button-edit"
          = link_to 'Destroy', category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' }, class: "button-remove"
- else
  %p.no-listing Category has no products.

%br
