!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %title Workshops
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          = link_to "#{AppConfig.workshops_name}", root_path, class: "navbar-brand"
        %nav.collapse.navbar-collapse.bs-navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            - if not user_signed_in?
              %li
                = link_to 'Sign in', controller: 'devise/sessions', action: 'new'
              %li
                = link_to 'Sign up', controller: 'devise/registrations', action: 'new'
            - else
              %li
                = link_to current_user.firstname << '\'s Profile', profile_show_path
              %li
                = link_to 'Sign out', destroy_user_session_path, :method => :delete

    .container-fluid
      - if not notice.nil?
        %p#notice= notice
      - if not flash[:error].nil?
        %p#error= flash[:error]

      - if @breadcrumbs.count > 0
        %ol.breadcrumb
          - @breadcrumbs.each do |crumb|
            %li= raw crumb
      .row
        .col-lg-12{:class => ("devise" if [ "sessions", "registrations", "passwords" ].include? controller_name )}
          = yield
