!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %span.navbar-brand #{AppConfig.workshops_name}
        %nav.collapse.navbar-collapse.bs-navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            - if not user_signed_in?
              %li
                = link_to 'Sign in', controller: 'devise/sessions', action: 'new'
              %li
                = link_to 'Sign up', controller: 'devise/registrations', action: 'new'
            - else
              %li
                = link_to 'Sign out', controller: 'devise/sessions', action: 'destroy'
    .container-fluid
      .row
        .col-lg-12
          = yield
